<!doctype html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Project</title>
    <meta charset="UTF-8" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.5/font/bootstrap-icons.css">
</head>
<body>
    <div class="container">
        <div class="row row-cols-1 row-cols-md-2 row-cols-lg-2 row-cols-xl-3 py-5">
            <div class="col d-flex mb-3">
                <div class="card flex-fill">
                    <!-- TODO: 上下中央に配置する -->
                    <a
                        class="card-body link-underline link-underline-opacity-0"
                        th:href="@{/projects/new}">
                        <i class="bi bi-plus-lg"></i>
                    </a>
                </div>
            </div>
            <div class="col d-flex mb-3" th:each="project : ${projectIndexVM.projects}">
                <div class="card flex-fill">
                    <a
                        class="card-body link-underline link-underline-opacity-0"
                        th:href="@{/projects/{id}/issues(id=${project.id})}">
                        <h5 class="card-title" th:text="${project.name}"></h5>
                        <p class="card-text" th:text="${project.description}"></p>
                    </a>
                </div>
            </div>
        </div>
    </div>
</body>
</html>
