<!doctype html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Project</title>
    <meta charset="UTF-8" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.5/font/bootstrap-icons.css">
</head>
<body>
    <div class="container">
        <div class="row py-5">
            <div
                class="col-sm-4"
                th:each="project : ${projectIndexVM.projects}">
                <div class="card mb-3">
                    <div class="card-body">
                        <h6 class="card-title">
                            <a
                                class="card-link link-underline link-underline-opacity-0"
                                th:href="@{/projects/{id}/view(id=${project.id})}"
                                th:text="${project.name}"></a>
                        </h6>
                        <p class="card-text" th:text="${project.description}"></p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>
