<!doctype html>
<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="UTF-8" />
        <title>Hello Thymeleaf</title>
    </head>
    <body>
        <div>
            <form th:object="${taskDetailVM}" th:action="@{/tasks/{id}(id=*{form.id})}" th:method="put">
                <h1 th:text="*{form.title}"></h1>
                <textarea th:field="*{form.description}"></textarea>
                <div th:text="*{form.done}"></div>
                <!-- th:objectでバインドしたオブジェクトのクラスのフィールドに対応する
                    プロパティがPOST/PUT/PATCHに含まれていないと＠ModelAttributeで初期化したオブジェクトの値が使用されるっぽい -->
                <input type="submit" value="update" />
            </form>
        </div>
        <a th:href="@{/tasks}">return</a>
    </body>
</html>
