<!doctype html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{common/head::head(title=${issueDetailVM.project.name}, scripts=~{}, links=~{})}"></head>
<body>

    <!-- Header -->
    <header th:replace="~{common/header::header(title=${issueDetailVM.project.name})}"></header>

    <!-- Content -->
    <div class="container">
        <div class="row justify-content-center">
            <div class="w-50">
                <div class="row my-3">
                    <div th:object="${issueDetailVM}">
                        <div class="mb-3">
                            <p class="mb-2">Title</p>
                            <p class="mb-1" th:text="*{issue.title}"></p>
                        </div>
                        <div class="mb-3">
                            <p class="mb-2">Description</p>
                            <p class="mb-1" th:utext="*{issue.description}"><p>
                        </div>
                        <div class="d-flex">
                            <a
                                class="btn btn-primary me-2"
                                th:href="@{|/projects/*{issue.projectId}/issues/*{issue.id}/edit|}">Edit</button>
                            <a
                                class="btn btn-outline-primary"
                                th:href="@{|/projects/*{issue.projectId}/issues/back|}">Return</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>
