<!doctype html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{common/head::head(title=${issueSearchVM.project.name}, scripts=~{}, links=~{})}"></head>
<body>

    <!-- Header -->
    <header th:replace="~{common/header::header(title=${issueSearchVM.project.name})}"></header>

    <!-- Content -->
    <div class="container">
        <div class="row justify-content-center">
            <div class="w-75" th:object="${issueSearchVM}">
                <div class="d-flex justify-content-end mt-3">
                    <a
                        class="btn btn-primary"
                        th:href="@{/projects/{projectId}/issues/create(projectId=*{project.id})}">New Issue</a>
                </div>
                <table class="table">
                    <thead>
                        <tr>
                            <th scope="col">Id</th>
                            <th scope="col">Title</th>
                            <th scope="col">Description</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr th:each="issue : *{issues}">
                            <th scope="row" th:text="${issue.id}"></th>
                            <td>
                                <a
                                    th:text="${issue.title}"
                                    th:href="@{/projects/{projectId}/issues/{issueId}(projectId=*{project.id}, issueId=${issue.id})}"></a>
                            </td>
                            <td th:text="${issue.description}"></td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</body>
</html>
