<!doctype html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Hello Thymeleaf</title>
    <meta charset="UTF-8" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.5/font/bootstrap-icons.css">
</head>
<body>
    <div class="container">
        <div class="alert alert-danger mt-5" role="alert">
            <h1 th:text="|${status} ${error}|"></h1>
            <span th:text="${message}"></span>
        </div>
        <!-- <div th:text="|timestamp: ${timestamp}|"></div>
        <div th:text="|status: ${status}|"></div>
        <div th:text="|error: ${error}|"></div>
        <div th:text="|exception: ${exception}|"></div>
        <div th:text="|message: ${message}|"></div>
        <div th:text="|errors: ${errors}|"></div>
        <div th:text="|trace: ${trace}|"></div>
        <div th:text="|path: ${path}|"></div> -->
    </div>
</body>
</html>
