<!doctype html>
<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="UTF-8" />
        <title>Hello Thymeleaf</title>
    </head>
    <body>
        <div>
            <form th:action="@{/tasks/{id}(id=${task.id})}" th:method="put">
                <h1 th:text="${task.title}"></h1>
                <textarea th:text="${task.comment}" name="comment"></textarea>
                <div th:text="${task.done}"></div>
                <input type="submit" value="save" />
            </form>
        </div>
        <a th:href="@{/tasks}">return</a>
    </body>
</html>
