<!doctype html>
<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="UTF-8" />
        <title>Hello Thymeleaf</title>
    </head>
    <body>
        <form th:action="@{/task}" method="post">
            <div>
                <input type="text" name="title"/>
                <input type="submit" value="add"/>
            </div>
        </form>
        <div th:each="task : ${tasks}">
            <article>
                <span th:text="${task.id}"></span>
                <span th:text="${task.title}"></span>
                <span th:text="${task.done}"></span>
            </article>
        </div>
    </body>
</html>
