<!doctype html>
<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="UTF-8" />
        <title>Hello Thymeleaf</title>
    </head>
    <body>
        <form th:action="@{/tasks}" th:method="post">
            <input type="text" name="title" />
            <input type="submit" value="add" />
        </form>
        <div>
            <article th:each="task : ${tasks}">
                <a th:href="@{/tasks/{id}(id=${task.id})}" th:text="${task.title}"></a><span th:text="${task.done}"></span>
                <form th:action="@{/tasks/{id}(id=${task.id})}" th:method="delete">
                    <input type="submit" value="x" />
                </form>
            </article>
        </div>
    </body>
</html>
